<!DOCTYPE html>
<html lang="en">
<head>

    <title>iMonitor</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <!-- This section is for the menu -->
    <div class="menu">
        <img src="iMonitor Logo.png" class="logo" style="margin-top: 25px;">
        <ul>
            <li class=""><a href="/">
            <i class="fa-solid fa-house"></i>Home</a></li>
            <li class="active"><a href="/about"><i class="fa-solid fa-user"></i>About</a></li>
            <li class=""><a href="/reqhome"><i class="fa-solid fa-list-check"></i>Requirement</a></li>
        </ul>
    </div>
</body>
<body class="require">
    <div class="req">        
<h1>VISION MISSION AND CORE VALUES</h1>
	<div class="container">
		<div class="card mission">
			<h2>MISSION</h2>
			<p>The Holy Cross of Davao College envisions a fully vibrant community of believers, 
				Educated in the faith, Animated by the passion for truth and engaged in building a more humane world.</p>
		</div>
		<div class="card vision">
			<h2>VISION</h2>
			<p>As members of this Filipino Archidiocesan Educational Instituition, 
				We commit ourselves to cultivate high quality catholic education for all Attentive to the needs of the less fortunate; Nurture a culture of excellence and holiness and provide a human and christian environment for the integral liberating formation of persons who will become effective agents of social transformation.</p>
		</div>
		<div class="card goal">
			<h2>CORE VALUES</h2>
			<p>From faith to truth, we uphold the values of servant leadership, 
				dialogue, justice, peace, and integrity of creation, with wisdom as the underlying principle.</p>
		</div>
	</div>

	<h1>COLLEGE OF ENGINEERING & TECHNOLOGY</h1>
	<div class="container">
		<div class="card mission">
			<h2>Vision</h2>
			<p>The College of Engineering and Technology (CET) of Holy Cross of Davao College 
				aspires to become a premier producer of Catholic professionals who are responsive
				to the needs of time.</p>
		</div>
		<div class="card vision">
			<h2>Mission</h2>
			<p>CET commits itself to impart knowledge, skills and leadership potentials
				to the learners through outcomes-based and research-based education, anchored on the value
				of the simplicity and respect for humanity.</p>
		</div>
	</div>
	  <section>
		<div class="about">
	
		  <h2 class="team">MEET OUR TEAM</h2>
	
		  <ol>
	
			  <li>
	
				  <br><img src="cams.jpg" alt="person1"></br>
	
				  <br><p>Camilla Kim Supremo</p></br>
	
				  <p class="prof"></p>
	
			  </li>
	
			  <li>
	
				<br><img src="rafa.jpg" alt="person2"></br>
	
				  <br><p>Rafael Anadon</p></br>
	
				  <p class="prof"></p>
	
			  </li>
	
			  <li>
	
				<br><img src="crystle.jpg" alt="person2"></br>
	
				  <br><p>Crystle Wyne Piodos</p></br>
	
				  <p class="prof"></p>
	
			  </li>
	
			<li>
		  
				<br><img src="kims.jpg" alt="person1"></br>
		  
				<br><p>Kims Cyra Rayel Moring</p></br>
		  
				<p class="prof"></p>
		  
			</li>
		  
			<li>
		  
				<br><img src="lou.jpg" alt="person2"></br>
		  
				<br><p>Angel Louie Sebalda</p></br>
		  
				<p class="prof"></p>
		  
			</li>
	
		  </ol>
		  
		</div>
	
	  </div>
	
	</div>
	  </section>
