<!DOCTYPE html>
<html lang="en">
<head>

    <title>iMonitor</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <!-- This section is for the menu -->
    <div class="menu">
        <img src="iMonitor Logo.png" class="logo" style="margin-top: 25px;">
        <ul>
            <li class=""><a href="/">
            <i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="/about"><i class="fa-solid fa-user"></i>About</a></li>
            <li class="active"><a href="/reqhome"><i class="fa-solid fa-list-check"></i>Requirement</a></li>
        </ul>
    </div>
</body>
<body class="require">
    <div class="req">        
        <h1>Requirements</h1>
            <div class="grid">
                    <ul>
                        <h2> Before the Training</h2>
                        <br/>
                        <li>Trainee Information Sheet</li>
                        <br/>
                        <li>Notarized Cooperative Work Experience Program Memorandum of Agreement</li>
                        <br/>
                        <li>Cooperative Work Experience Waiver of Claim</li>
                        <br/>
                        <li>Endorsement Letter</li>
                        <br/>
                        <li>Medical Certificate</li>
                        <br/>
                        <li>Psychological Exam Clearance</li>
                        <br/>
                        <li>Certificate of Attendance for Orientation</li>
                        <br/>
                        <li>Photocopy of Health Insurance (PhilHealth, etc.)</li>
                        <br/>
                        <li>Certificate of Enrollment/Registration</li>
                    </ul>
                        
                    <ul>
                        <h2> During Training</h2>
                        <br/>
                        <li>Accomplised Daily Log Sheets</li>
                        <br/>
                        <li>Authenticated Daily Time Record (DTR)</li>
                        <br/>
                    </ul>
                        
                    <ul>
                        <h2> Additional Requirements</h2>
                        <br/>
                        <li>As required by the Company/Industry where the student-trainee will undergo OJT</li>
                    </ul>
                </div>
            </div>
        </div>
</body>


</html>