<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title> iMonitor</title>
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="csrf-token" content=" ">
	<link rel="icon" href="faveyecon.ico">
	<link rel="stylesheet" href="/user-dashboard.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<div class="sidebar-name">
			<h1><span>iMonitor</span></h1>
		</div>
		<div class="sidebar-menu">
			<ul>
				<li>
					<a href="/uDash" ><span class="las la-user"></span>
					<span>My profile</span></a>
				</li>
				<li>
					<a href="/uOjt"class="active"><span class="las la-clipboard"></span>
					<span>OJT Weekly Log</span></a>
				</li>
				<li>
					<a href="/requirements"><span class="las la-pager"></span>
					<span>Update your Profile</span></a>
				</li>
				<li>
					<a href="/uLack"><span class="las la-exclamation"></span>
					<span>Requirements</span></a>
				</li>
				<li>
				<a href="/auth/uLogout" class="logout"><span class="las la-power-off"></span>
					<span>Log out </span></a>
				</li>
			</ul>	
		</div>
	</div>

	<div class="main-content">
		<header>
			<h2>
	  			<label for="nav-toggle">
					<span class="las la-bars"></span> 
				</label>

				Dashboard
			</h2>
			
			<div class="user-wrapper">
				<h4> Intern </h4>
				<small> </small>
	    	</div>	 
		</header>
	<main>
		<div class="body">
		<div class="plato-form-widget" data-options="id:frucpv8g75u;width:100%;height:0;host:form.platoforms.com/"></div><div id="frucpv8g75u-loading-msg"><p>Loading the Form...</p></div> <script type="text/javascript"> (function(d, v){ var s = d.getElementsByTagName(v)[0], p = s.parentNode, e = d.createElement(v); e.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'static.platoforms.com/assets/dist/formbuilder.js?v=15'; p.insertBefore(e, s); })(document, 'script'); </script>
		</div>
	</main>
</div>	
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>